main {
  width: 90%;
  margin: 0 auto;
}

.prev {
  position: relative;
  top: 20px;
}

article {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 30px;
  padding-bottom: 50px;
}

article .fixed-Thumb {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article .fixed-Thumb li {
  width: 100px;
  height: 100px;
  border: solid 1px grey;
}

article #fixedImg {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article #fixedImg p {
  width: 100%;
  height: 500px;
  border: solid 1px grey;
}

article .i-detail-container {
  width: 40%;
}

article .i-detail-container section:nth-of-type(1) {
  padding-bottom: 50px;
}

article .i-detail-container section:nth-of-type(1) h1 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

article .i-detail-container section:nth-of-type(1) p:nth-of-type(1) {
  padding-bottom: 15px;
}

article .i-detail-container section:nth-of-type(1) p:nth-of-type(2) {
  font-size: 20px;
  padding-bottom: 20px;
}

article .i-detail-container section:nth-of-type(1) p:nth-of-type(2) span {
  font-size: 14px;
  color: black;
}

article .i-detail-container section:nth-of-type(1) .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 20px;
}

article .i-detail-container section:nth-of-type(1) .icon-container a {
  text-align: center;
}

article .i-detail-container section:nth-of-type(1) .btn {
  display: block;
  border: solid 1px black;
  border-radius: 5px;
  width: 100%x;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

article .i-detail-container section:nth-of-type(1) .btn:hover {
  background-color: grey;
}

article .i-detail-container section:nth-of-type(2) {
  padding-bottom: 50px;
}

article .i-detail-container section:nth-of-type(2) h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

article .i-detail-container section:nth-of-type(2) p:nth-of-type(1) {
  padding-bottom: 20px;
}

article .i-detail-container section:nth-of-type(3) h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}

article .i-detail-container section:nth-of-type(3) ul li:not(.not) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

article .i-detail-container section:nth-of-type(3) ul li:not(.not) p:nth-of-type(1) {
  font-weight: bold;
  width: 40%;
}

article .i-detail-container section:nth-of-type(3) ul:not(.not) {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

article .i-detail-container section:nth-of-type(3) .safe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #f3ecec;
  margin-bottom: 50px;
}

article .i-detail-container section:nth-of-type(3) .safe-container:hover {
  background-color: #f5eded;
}

article .i-detail-container section:nth-of-type(4) {
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
  margin-bottom: 50px;
}

article .i-detail-container section:nth-of-type(4) h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}

article .i-detail-container section:nth-of-type(4) .display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  border-radius: 5px;
  border: 1px solid #ece4e4;
}

article .i-detail-container section:nth-of-type(4) .display-container .exhibit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 20px;
}

article .i-detail-container section:nth-of-type(4) .display-container .exhibit div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

article .i-detail-container section:nth-of-type(4) .display-container img {
  border-radius: 50%;
  border: solid 1px grey;
}

article .i-detail-container section:nth-of-type(4) .display-container:hover {
  background-color: #f1eaea;
}

article .i-detail-container section:nth-of-type(5) h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

article .i-detail-container section:nth-of-type(5) .comment-num {
  padding-bottom: 20px;
}

article .i-detail-container section:nth-of-type(5) ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px 10px;
  padding-bottom: 10px;
}

article .i-detail-container section:nth-of-type(5) ul li a:not(.not) {
  display: block;
  width: 50px;
  height: 50px;
  border: solid 1px grey;
  border-radius: 50%;
}

article .i-detail-container section:nth-of-type(5) ul li .not {
  font-weight: bold;
}

article .i-detail-container section:nth-of-type(5) ul li .comment-list {
  width: calc(100% - 50px);
}

article .i-detail-container section:nth-of-type(5) ul li .comment-list .comment-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #eee7e7;
  background-color: #eee7e7;
}

article .i-detail-container section:nth-of-type(5) ul {
  padding-bottom: 20px;
}

article .i-detail-container section:nth-of-type(5) h4 {
  font-size: 18px;
  font-weight: medium;
  padding-bottom: 10px;
}

article .i-detail-container section:nth-of-type(5) form textarea {
  border: 1px solid grey;
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

article .i-detail-container section:nth-of-type(5) form p {
  padding-bottom: 20px;
}

article .i-detail-container section:nth-of-type(5) form .btn {
  display: block;
  border: solid 1px black;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

article .i-detail-container section:nth-of-type(5) form .btn:hover {
  background-color: grey;
}

aside {
  width: 75%;
  margin: 0 auto;
}

aside h3 {
  font-size: 20px;
  font-weight: bold;
}

aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 20px;
}

aside ul li {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border-top: 1px solid grey;
}
/*# sourceMappingURL=p_item-detail.css.map */